<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
			<link rel="stylesheet" href="assets/css/style.css" type="text/css" />
			<title>Burger Time!</title>
			<!-- Font Awesome -->
	      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	      <!-- Bootstrap core CSS -->
	      <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	      <!-- Material Design Bootstrap -->
	      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
	      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Comfortaa">
				  
		
			</head>
	<body>

		 <div class="jumbotron" style="margin-bottom: 0px; border-bottom: 5px solid red;">

		    <div class="container">
		        <h1 class="h1-reponsive mb-4 mt-2 red-text font-bold d-flex justify-content-start">Burger Time!</h1>
		        <p class="lead d-flex justify-content-start">Welcome to Bob's Burgers! Eat some "burgers of the day" or create your own below!</p>
		    </div>

		</div>

		{{{ body }}}


		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

		 
		<script src="assets/js/app.js"></script>

		<!-- Bootstrap tooltips -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
		<!-- Bootstrap core JavaScript -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<!-- MDB core JavaScript -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
	</body>
</html>
